%h1 Player 1 Join?

- flash.each do |name, msg|
	= content_tag(:p, msg, class: name)

= simple_form_for :session, url: sessions_path do |f|
	= f.input :email
	= f.input :password
	= f.button :submit, "Go", id: 'signin', class: 'go'
