<!-- If the user was redirected to this page due to validation errors, display those errors here: -->
- if @user.errors.any?
  %strong Errors:
  %ul
    - @user.errors.full_messages.each do |msg|
      %li
        = msg
<!-- If the user accessed this page directly, or without an errors, display the form to get data -->
= form_for @user do |f|
  = f.label :email
  = f.email_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation, 'Confirm Password'
  = f.password_field :password_confirmation
  = f.submit "Go", id: "submit", class: "go"
