<!-- If the user was redirected to this page due to validation errors, display those errors here: -->
- if @user.errors.any?
  %strong Errors:
  %ul
    - @user.errors.full_messages.each do |msg|
      %li
        = msg
<!-- If the user accessed this page directly, or without an errors, display the form to get data -->
= simple_form_for @user do |f|
  = f.input :email, label: "Please enter your email:   ", required: true
  = f.input :password, label: "Please enter your password:   ", required: true
  = f.input :password_confirmation, label: "Confirm password:   ", required: true
  = f.button :submit, "Go", id: "submit", class: "go"
