%h1 Start
- flash.each do |name, msg|
	= content_tag :p, msg, class: name

= form_tag("/list", method: 'get') do
	= label_tag 'genre', "What Piques Your Interest?", class: 'label'
	= select_tag 'genre', options_for_select(@question_1_answers, selected: @question_1_answers[1]), class: 'answer'
	= label_tag 'platform', "Choose your System:", class: 'label'
	= select_tag 'platform', options_for_select(@question_2_answers), class: 'answer'
	= label_tag 'sort', "Choose your order:", class: 'label'
	= select_tag 'sort', options_for_select(@question_3_answers, selected: @question_3_answers[1]), class: 'answer'
	= submit_tag "Go", class: 'go'